<select id="simple-select" class="form-control">
    <!-- Options will be generated here -->
</select>

<script id="option-template" type="text/x-handlebars-template">
    <option value="{{value}}">{{value}}</option>
</script>