<h1>This is a custom rating</h1>

<div class="rating-stars flex flex-row" id="rating-placeholder">
    <div class="star cursor-wait">⭐</div>
    <div class="star">⭐</div>
    <div class="star">⭐</div>
    <div class="star">⭐</div>
    <div class="star">⭐</div>
</div>